<div class="container-fluid">
  <div class="row wrapper">
    <div class="col vh-100 p-3">
      <app-robot-card [robot]="getMainRobot()"></app-robot-card>
    </div>
    <div class="col vh-100 overflow-auto left-column pt-3">
      <div *ngFor="let robot of getSideRobotsList()" class="mb-3 side-card">
        <app-robot-card
          role="button"
          [robot]="robot"
          [sideCard]="true"
          [routerLink]="['/robot', robot.id]"
        ></app-robot-card>
      </div>
    </div>
  </div>
</div>
